<template>
  <div class="bet-history">
    <van-row class='bet-scroll-title'>
      <van-col span='8'>期数</van-col>
      <van-col span='8'>金额</van-col>
      <van-col span='8'>状态</van-col>
    </van-row>
    <div class="bet-scroll">
       <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list
            v-model="loading"
            :finished="finished"
            finished-text="没有更多了"
            :error.sync="error"
            error-text="请求失败，点击重新加载"
            @load="onLoad"
          >
          <van-row class='bet-scroll-list' v-for="(item,index) in list" :key="index" @click='detail(item)'>
            <van-col span='8' v-text='item.issue+"期"'>期数</van-col>
            <van-col span='8' v-text='item.cost'>金额</van-col>
            <van-col span='8' v-text='status(item)'></van-col>
          </van-row>
        </van-list>
      </van-pull-refresh>
    </div>

  </div>
</template>

<script>
  import { getBets } from '../../api/lottery.js'
  export default {
    name:'bet-history',
    data() {
      return {
        list: [],
        loading: false,
        finished: false,
        refreshing: false,
        error:false,
        page:1,
        size:10
      };
    },
    methods: {
      detail(item){
          this.$router.push({
            path:'/data/history',
            query:item
          })
      },
      status(item){
          if(!item) return ''

          let status = item.status

          if(status == 2){
              return '未中奖'
          }

          if(status == 1){
            let prize = Number(item.prize)
            return `中奖${prize.toFixed(2)}元`
          }

          return '等待开奖'
      },
      onLoad() {
        getBets(this.page).then(res=>{
            if (this.refreshing) {
              this.list = [];
              this.refreshing = false;
             }
             this.loading = false;
             const { records , total , current , pages } = res
             if(records && records.length>0){
                this.list = Array.concat(this.list,records)

             }
             if(this.page >= pages)
                this.finished = true;
            else
                this.page ++
        }).catch(err=>{
            this.loading = false
            this.error = true
            console.error('获取投注历史接口错误',err)
        })
      },
      onRefresh() {
        // 清空列表数据
        this.finished = false;

        // 重新加载数据
        // 将 loading 设置为 true，表示处于加载状态
        this.loading = true;
        this.page = 1
        this.onLoad();
      },
    },
  };
</script>

<style scoped>
  .bet-history{
    height: 15rem;
    position:relative;
    overflow: overflow;
    text-align: center;
  }

  .bet-scroll-title{
    height:1.8rem;
    line-height: 1.8rem;
    background-color: #F1F1F1;
    font-size: .8rem;
    font-weight: bolder;
  }

  .bet-scroll-list{
    height:1.8rem;
    line-height: 1.8rem;
    font-size: .6rem;
  }

  .bet-scroll{
    height: 12.6rem;
    position: relative;
    overflow: scroll;
    background-color: #F5F6F7;
  }


</style>
