<template>
  <div class="bet-illustrate-card">
    <div v-text="title+':'"></div>
    <div v-html="content"></div>
  </div>
</template>

<script>
  export default {
    name:'illustrate-card',
    props:['title','content']
  }
</script>

<style scoped>
  .bet-illustrate-card{
      padding: .3rem 1rem;
  }
</style>
