<template>
  <div class="bet-illustrate">
    <illuCard v-for='item in options' :key='item.id' :title='item.title' :content='item.content'></illuCard>
  </div>
</template>

<script>
  import { illustrate } from '../../utils/illustrate.js'
  import { mapGetters } from 'vuex'
  import illuCard from './illCard.vue'

  export default {
    name:'bet-illustrate',
    components:{illuCard},
    computed:{
      ...mapGetters(['getMethods']),
      options(){
         let arr = []
         this.getMethods.forEach(item=>{
           arr.push({
             title:item.name,
             content:illustrate(item.id),
             id:item.id
           })
         })
        return arr
      }
    }
  }
</script>

<style scoped>
  .bet-illustrate{
      padding-top: .5rem;
      height: 13.5rem;
      overflow: scroll;
  }
</style>
