<template>
  <div class="content">
    <van-tabs v-model="active">
      <van-tab title="玩法介绍">
        <illustrate></illustrate>
      </van-tab>
      <van-tab title="开奖记录">
        <record></record>
      </van-tab>
      <van-tab title="我的投注">
        <history></history>
      </van-tab>
    </van-tabs>
    <div class="data-list-footer" @click="toBet">
        返回投注
    </div>
  </div>
</template>

<script>
  import record from './record'
  import history from './history'
  import illustrate from './illustrate'

  export default {
    name:'bet-date-list',
    data() {
      return {
        active: 2,
      };
    },
    mounted() {
        this.active = this.$route.query['active'] || 0
    },
    methods:{
      toBet(){
        this.$router.push({
          path:'bet'
        })
      }
    },
    components:{
      illustrate,
      record,
      history
    }
  };
</script>

<style scoped>
  .content{
    height: 20rem;
    position: relative;
  }

  .data-list-footer{
    height: 2.7rem;
    line-height: 2.7rem;
    font-family: 'PingFang SC';
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #FF3563;
  }
</style>
