<template>
  <div class="bet-record">
    <van-row class='bet-scroll-title'>
      <van-col span='8'>期数</van-col>
      <van-col span='16'>开奖结果</van-col>
    </van-row>
    <div class="bet-scroll">
       <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list
            v-model="loading"
            :finished="finished"
            finished-text="没有更多了"
            :error.sync="error"
            error-text="请求失败，点击重新加载"
            @load="onLoad"
          >
          <van-row class='bet-scroll-list' v-for="(item,index) in list" :key="item.index" v-if='item.code'>
            <van-col span='8' v-text='item.issue+"期"'>期数</van-col>
            <van-col span='16'>
              <code-box :code="item.code"></code-box>
            </van-col>
          </van-row>
        </van-list>
      </van-pull-refresh>
    </div>
  </div>
</template>

<script>
  import { getHistory } from '../../api/lottery.js'
  import codeBox from '../../components/codeBox.vue'
  export default {
    name:'bet-record',
    components:{
        codeBox
    },
    data() {
      return {
        list: [],
        loading: false,
        finished: false,
        refreshing: false,
        error:false,
        page:1,
        size:10
      };
    },
    methods: {
      onLoad() {
        getHistory(this.page).then(res=>{
            if (this.refreshing) {
              this.list = [];
              this.refreshing = false;
             }
             this.loading = false;
             const { records , total , current , pages } = res
             if(records && records.length>0){
                this.list = Array.concat(this.list,records)
             }
             if(this.page >= pages)
                this.finished = true;
            else
                this.page ++
        }).catch(err=>{
            this.loading = false
            this.error = true
            console.error('获取开奖历史接口错误',err)
        })
      },
      onRefresh() {
        // 清空列表数据
        this.finished = false;

        // 重新加载数据
        // 将 loading 设置为 true，表示处于加载状态
        this.loading = true;
        this.page = 1
        this.onLoad();
      },
    },
  };
</script>

<style scoped>
  .bet-record{
    height: 15rem;
    position:relative;
    overflow: scroll;
    text-align: center;
  }

  .bet-scroll-title{
    height:1.8rem;
    line-height: 1.8rem;
    background-color: #F1F1F1;
    font-size: .8rem;
    font-weight: bolder;
  }

  .bet-scroll-list{
    height:1.8rem;
    line-height: 1.8rem;
    font-size: .6rem;
    background-color: #F5F6F7;
  }

  .bet-scroll{
    height: 12.6rem;
    position: relative;
    overflow: scroll;
  }
</style>
