[class*='xuanwu-'],
[class^='xuanwu-'] {
    line-height: 1.6rem;
    height:1.6rem;
    width:1.6rem;
    font-size: 1rem;
    text-align: center;
    background-color: #d22018;
    margin-left: .2rem;
    border-radius: 50%;
    margin-top: .1rem;
    color: white;
}

[class*='kuaisan-'],
[class^='kuaisan-'] {
    display: inline-block;
    width: 1.6rem; /* .352 */
    height: 1.6rem; /* .352 */
    background-image: url(../img/kuaisan.png);
    background-size: 1.6rem  19.2rem;      /* .469rem 5.625rem; */
    margin-right: .117rem;
    margin-top: .1rem;
}

.kuaisan-1 {
    background-position: 0  -9.6rem   /* -.058rem -2.871rem; */
}

.kuaisan-2 {
  background-position: 0 -4.8rem;
}

.kuaisan-3 {
  background-position: 0 -8rem;
}

.kuaisan-4 {
   background-position:  0 -11.2rem;
}

.kuaisan-5 {
   background-position: 0 4.8rem;
}

.kuaisan-6 {
   background-position: 0 1.6rem;
}

[class*='liuhecai-'],
[class^='liuhecai-'] {
    line-height: 1.6rem;
    height:1.6rem;
    width:1.6rem;
    font-size: 1.2m;
    text-align: center;
    background-color: green;
    margin-left: .2rem;
    border-radius: 50%;
    margin-top: .1rem;
    color: white;
}

.liuhecai-add{
  background: black
}

.liuhecai-01,
.liuhecai-02,
.liuhecai-07,
.liuhecai-08,
.liuhecai-12,
.liuhecai-13,
.liuhecai-18,
.liuhecai-19,
.liuhecai-23,
.liuhecai-24,
.liuhecai-29,
.liuhecai-30,
.liuhecai-34,
.liuhecai-35,
.liuhecai-40,
.liuhecai-45,
.liuhecai-46{
    background: red
}

.liuhecai-03,
.liuhecai-04,
.liuhecai-09,
.liuhecai-10,
.liuhecai-14,
.liuhecai-15,
.liuhecai-20,
.liuhecai-25,
.liuhecai-26,
.liuhecai-31,
.liuhecai-36,
.liuhecai-37,
.liuhecai-41,
.liuhecai-42,
.liuhecai-47,
.liuhecai-48 {
  background: blue;
}


[class*='saiche-'],
[class^='saiche-'] {
    line-height: 1.4rem;
    height:1.4rem;
    width:1.4rem;
    font-size: 1rem;
    text-align: center;
    background-color: #d22018;
    margin-left: .2rem;
    margin-top: .2rem;
    border-radius: 15%;
    color: white;
}

.saiche-01{
  background-color: #a20504;
}

.saiche-02{
  background-color: #008BFF;
}

.saiche-03{
  background-color: #4D4D4D;
}

.saiche-04{
  background-color: #FF7404;
}

.saiche-05{
  background-color: #86FFFA;
}

.saiche-06{
  background-color: #5302FE;
}

.saiche-07{
  background-color: #E3E3E3;
}

.saiche-08{
  background-color: #E70000;
}

.saiche-09{
  background-color: #03a08d;
}

.saiche-10{
  background-color: #2BC401;
}

[class*='shishicai-'],
[class^='shishicai-'] {
    line-height: 1.6rem;
    height:1.6rem;
    width:1.6rem;
    font-size: 1rem;
    text-align: center;
    background-color: #d22018;
    margin-left: .2rem;
    border-radius: 50%;
    margin-top: .1rem;
    color: white;
}



[class*='default-'],
[class^='default-'] {
    line-height: 1.6rem;
    height:1.6rem;
    width:1.6rem;
    font-size: .6rem;
    text-align: center;
    background-color: #CFC1FF;
    margin-left: .2rem;
}

.default-02::before{
  content:"02";
}

.default-01::before{
  content:"01";
}

.default-03::before{
  content:"03";
}

.default-04::before{
  content:"04";
}

.default-05::before{
  content:"05";
}
.default-06::before{
  content:"06";
}
.default-07::before{
  content:"07";
}
.default-08::before{
  content:"08";
}
.default-09::before{
  content:"08";
}
.default-10::before{
  content:"10";
}
