<template>
  <van-empty image="error" description="页面不存在" />
</template>

<script>
  import { Toast } from 'vant';
  export default {
     name : '404',
     created(){
       Toast.fail("页面不存在")
     }
  }
</script>

<style>
</style>
