<template>
    <van-empty image="error" description="未登入" />
</template>
<script>
  import { Toast } from 'vant';
  export default {
    name:'405',
    created(){
         Toast.fail("未登入")
    }
  }
</script>

<style>
</style>
