<template>
	<div class="content">

	</div>
</template>
<script>


	export default{
		name:"index",
    created() {
		  this.$router.push({
        path:'/bet'
      })
    }
  }
</script>
<style lang="less">

</style>
