<template>
  <div class="balance">
    <span style="font-weight: bolder;">余额:</span>
    <span style="color:#FF3563;" v-text="textPrice"></span>
  </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
      name:'balance',
      computed:{
        ...mapGetters(['getMoney']),
        textPrice(){
            if(this.getMoney < 100){
                return this.getMoney.toFixed(2)
            }else{
              return this.getMoney.toFixed(0)
            }
        }
      }
    }

</script>

<style>
  .balance{
    height:2rem;
    line-height: 2rem;
    text-indent: .8rem;
  }
</style>
