<template>
  <div class="codeBox" :class="{codeBoxCenter:align === 'center'}">
    <div class="boxList" :class="{boxListCenter:align === 'center'}" >
      <div v-for='(item,index) in codeList' :key='index' class="code" :class="`${lotteryKind}-${item === '+'?'add':item}`" v-text="lotteryKind === 'kuaisan' ? '' : item"></div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name:'code-box',
    props:{
      code:{
        type:String,
        default:""
      },
      align:{
        type:String,
        default:'center'
      }
    },
    computed:{
      ...mapGetters(['getLotteryType']),
      codeList(){
        if(!this.code){
          return []
        }else{
          let arr = this.code.split(' ')
          if(arr.length === 1)
            arr = this.code.split('')

          if(this.lotteryKind === 'liuhecai'){
             arr[arr.length] = arr[arr.length-1]
             arr[arr.length - 2] = '+'
          }
          return arr
        }
      },
      lotteryKind(){
        switch(this.getLotteryType){
          case '11选5':
            return 'xuanwu'
          case '快三':
            return 'kuaisan'
          case '赛车':
            return 'saiche'
          case '六合彩':
            return 'liuhecai'
          case '时时彩':
            return 'shishicai'
          default:
            return 'default'
        }

      }
    }
  }

</script>

<style scoped>
  @import url("../assets/css/ball.css");

  .codeBox{
    padding: 0;
    width:100%;
    height: 1.8rem;
    position: relative;
    line-height: 1.8rem;
  }

  .codeBoxCenter{
     transform: translateX(50%);
  }

  .boxList{
    width:inherit;
    display: table-cell;
    position: relative;
  }

  .boxListCenter{
      left: -50%;
  }

  .code{
    list-style: none;
    padding:0;
    float: left;
  }
</style>
