<template>
  <div class="tips">
    <span v-if='multiple'>
      已选<font color="#FF294D">{{multiple}}</font>注，共计<font color="#FF294D">{{total}}</font>元，单注预期可获<font color="#FF294D">{{award}}</font>元
    </span>
  </div>
</template>

<script>
  export default {
    name: 'bet-tips',
    props:['multiple','per','odds'],
    computed:{
      total(){
          if(this.multiple){
             let total = this.multiple * this.per
             if(total){
               return total.toFixed(1)
             }
          }
          return "0.0"
      },
      award(){
        if(this.multiple){
          let award = this.per * this.odds
           if(award){
               return award.toFixed(2)
           }
        }
        return '0.00'
      }
    }
  }

</script>

<style scoped>
  .tips{
    margin-top: 1rem;
    height: .8rem;
    text-align: left;
    text-indent: .8rem;
    font-size: .1rem;
    padding-bottom: .5rem;
  }
</style>
