<template>
  <div class="bet-done-item">
    <span class="item-info" v-text='info'></span>
    <span class="item-del" @click="onDelete(info)"></span>
    <span class="item-msg">{{perString}}</span>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
	export default {
		name:'bet-seleted-item',
    props:['info','onDelete'],
    computed:{
       ...mapGetters(['getIssue', 'getSelected','getPer']),
       perString(){
         if(this.getPer){
           return this.getPer.toFixed(2)
         }else{
           return '0.00'
         }
       }
    },
	}
</script>

<style scoped>

  .bet-done-item{
    height: 2.7rem;
    line-height: 2.7rem;
    font-family: 'PingFang SC';
    background-color: #FFFFFF;
    margin-bottom: .3rem;
  }

  .bet-done-item-top{
    height: 2.7rem;
    font-size: .8rem;
    clear: both;
    line-height: 2.7rem;
  }


  .item-info{
    display: inline-block;
    height: 2.7rem;
    line-height: 2.7rem;
    color: #FF3563;
    margin-left: .8rem;
  }

  .item-msg{
    display: inline-block;
    height: 2.7rem;
    line-height: 2.7rem;
    color: #FF3563;
    float: right;
    margin-right: .3rem;
  }

  .item-del{
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    float: right;
    margin-right: .3rem;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-image: url(../../../assets/img/item-del.png);
    background-position: .35rem .35rem;
  }
</style>
