<template>
  <div class="multiples">
    <van-row>
      <van-col span='1'></van-col>
      <van-col span='3' v-for='item in chips' :key='item'>
        <div class="multiple" @click="choose(item)" :class="{'multiple-active':getPer === item}">{{item}}倍</div>
      </van-col>
      <van-col span='4'>
        <div class="multiple" @click="choose(100)" :class="{'multiple-active':getPer === 100}">100倍</div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
   import { mapGetters } from 'vuex'

  export default {
    name:"bet-multiple",
    data(){
        return {
          chips:[1,2,5,10,20,50]
        }
    },
    methods:{
      choose(value){
          this.$emit('input',value)
      }
    },
    computed:{
      ...mapGetters(['getPer']),
    }
  }
</script>

<style scoped>
  .multiples{
    height: 1rem;
    margin: .3rem 0;
  }

  .multiple{
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 20%;
    width: 80%;
    margin-left:10%;
    background-color: #F5F6F7;
    font-family: '华文新魏';
    font-size: .2rem;
  }

  .multiple-active{
     border: #3095E9 2px solid;
  }
</style>
