<template>
  <div class='bet-done-body'>
    <div class="bet-done-body-scroll">
        <bet-seleted-item v-for="(item,index) in options" :key='index' :info='item' :on-delete="delte"></bet-seleted-item>
    </div>
  </div>
</template>

<script>
  import betSeletedItem from './components/item.vue'
  import { mapGetters } from 'vuex'
  import { Notify } from 'vant';
  export default {
    name:'bet-done-body',
    computed:{
      ...mapGetters(['getIssue', 'getSelected']),
      options(){
          if(this.getSelected && this.getSelected.length && this.getSelected.length > 0){
             return this.getSelected
          }else{
            return []
          }
      }
    },
    components:{
      betSeletedItem
    },
    methods:{
      delte(info){
        let arr = this.getSelected
        let index = arr.indexOf(info)
        if(index>-1){
          if(arr.length  === 1){
            Notify({ type: 'warning', message: '无法删除最后一个选项' })
            return
          }
          arr.splice(index,1)
          this.$store.commit('setSelected',arr)
        }
      }
    }
  }
</script>

<style scoped>
  .bet-done-body{
    height: 10rem;
    overflow: scroll;
    background-color: #F1F1F1;
  }

  .bet-done-body-scroll{
    padding-bottom: 2rem;
    overflow: hidden;
  }
</style>
