<template>
  <div class="bet-done-footer">
    <done-multiple v-model="per"></done-multiple>
    <tips :multiple='multiple' :per='getPer' :odds='getAverageOdds'></tips>
    <van-col span='8'>
        <balance></balance>
    </van-col>
    <van-col span='5'></van-col>
    <van-col span='6'>
      <div class="bet-input bet-done" @click='onBet'>
          {{betting?'投注中...':'投注'}}
      </div>
    </van-col>
    <van-col span='1'></van-col>
    <van-col span='3'>
      <div class="bet-input bet-cancal" @click="onCancal">
           取消
      </div>
    </van-col>
  </div>
</template>

<script>
  import doneMultiple from './components/multiple.vue'
  import tips from '../../components/tips.vue'
  import balance from '../../components/balance.vue'
  import { mapGetters } from 'vuex'
  import { Notify } from 'vant';
  import { doBet }  from '../../api/lottery.js'

  export default {
    name:'bet-done-footer',
    data(){
      return {
        per:'',
        betting:false
      }
    },
    components:{
      doneMultiple,
      tips,
      balance
    },
    computed:{
      ...mapGetters(['getSelected', 'getAverageOdds','getPer','getMethods','getLotteryId','getIssue','getMethodId','getMoney']),
      multiple(){
        if(this.getSelected && Object.prototype.toString.call(this.getSelected) === '[object Array]'){
          return this.getSelected.length
        }else{
          return 0
        }
      }
    },
    mounted() {
        this.per = this.getPer
    },
    watch:{
      per:{
        handler(value){
          if(value > 999999999){
              Notify({ type: 'warning', message: '输入超过上限' })
              this.$nextTick(()=>{
                this.per = 999999999
              })
          }else{
            this.$store.commit('setPer',value)
          }
        }
      }
    },
    methods:{
      onBet(){
        if(this.betting) return

         if(!this.getSelected || this.getSelected.length === 0){
           Notify({ type: 'warning', message: '请选择下注方式' })
           return
         }

         if(!this.getPer || this.getPer <= 0){
           Notify({ type: 'warning', message: '请输入或选择筹码' })
           return
         }

         let cost = this.getPer * this.getSelected.length

         if(this.getMoney < this.cost){
           Notify({ type: 'danger', message: '余额不足!!!' })
           return
         }else{
           this.$store.commit('setMoney', this.getMoney - cost)
         }

         this.betting = true

         let data = {
           lottery_id : this.getLotteryId,
           issue: this.getIssue,
           method_id : this.getMethodId,
           per_price : this.getPer,
           bet_select : this.getSelected.join('&')
         }

         doBet(data).then(res=>{
           this.betting = false
           Notify({ type: 'success', message: '投注成功' })
         }).catch(err=>{
           this.betting = false
           Notify({ type: 'warning', message: '下注失败' })
           console.error('投注失败',data,err)
           this.$store.commit('setMoney',this.getMoney + cost)
         })

      },
      onCancal(){
        this.$router.push({
          path:'/bet'
        })
      }
    }
  }
</script>

<style scoped>
  .bet-done-footer{
    height:5.4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    width:100%;
    padding-bottom: .5rem;
  }

  .bet-input{
      height:2rem;
      text-align: center;
      color: white;
      line-height: 2rem;
      border-radius: 10%;
  }

  .bet-cancal{
    background-color: #999999;
  }

  .bet-done{
    background-color: #FF3563;
  }
</style>
