<template>
  <div class="bet-done-header">
    确定投注
  </div>
</template>

<script>
  export default {
    name:'bet-done-header'
  }
</script>

<style scoped>
  .bet-done-header{
    height: 2.7rem;
    line-height: 2.7rem;
    font-family: 'PingFang SC';
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
</style>
