<template>
  <div class="content">
    <done-header></done-header>
    <done-title></done-title>
    <done-body></done-body>
    <done-footer></done-footer>
  </div>
</template>

<script>
  import doneHeader from './header.vue'
  import doneTitle from './title.vue'
  import doneBody from './body.vue'
  import doneFooter from './footer.vue'
  import { mapGetters } from 'vuex'


  export default {
    name:'bet-done',
    components:{
      doneHeader,
      doneTitle,
      doneBody,
      doneFooter
    },
    watch:{
      getSelected:{
        handler(arr){
          if(arr && Object.prototype.toString.call(arr) === '[object Array]' && arr.length > 0){
             let total = 0
             this.getMethods.forEach(method=>{
                  method.games.forEach( game =>{
                      if(arr.indexOf(game.info) > -1){
                          total  += game.odds
                      }
                  })
             })
             console.log(total)
             this.$store.commit('setAverageOdds',total/arr.length)
          }else{
              this.$store.commit('setAverageOdds',0)
          }

        },
        immediate: true
      },
    },
    computed:{
      ...mapGetters(['getSelected','getMethods']),
    }
  }
</script>

<style>
  .content{
    height: 20rem;
    position: relative;
  }
</style>
