<template>
  <div class="bet-done-title">
    <span v-if='!flashing'>{{`距离${getIssue}期 截止： ${cutdownString()}秒`}}</span>
  </div>
</template>

<script>
    import { mapGetters } from 'vuex'

  export default {
    name:'bet-done-title',
    data(){
        return {
          fClock: undefined,
          flashing:false
        }
    },
    mounted() {
      this.fClock = setInterval(()=>{
        this.flashing = true
        this.$nextTick(()=>{
          this.flashing = false
        })
      },1000)
    },
    destroyed() {
        if(this.fClock){
           clearInterval(this.fClock)
           this.fClock =  undefined
        }
    },
    methods:{
      cutdown(){
         // 取本地时间
         var localtime = new Date();
         // 取本地毫秒数
         var localmesc = localtime.getTime();
         // 取本地时区与格林尼治所在时区的偏差毫秒数
         var localOffset = localtime.getTimezoneOffset() * 60000;
         // 反推得到格林尼治时间
         var utc = localOffset + localmesc;
         // 得到指定时区时间 (8区)
         var calctime = utc + (3600000 * 8);

         return parseInt((this.getKillTime.getTime() - calctime) / 1000)
      },
      cutdownString(){
          let cd = this.cutdown()
          if(cd){
             return (cd/1000).toFixed(3).split('.')[1]
          }else{
            return '000'
          }
      }
    },
    computed:{
      ...mapGetters(['getIssue', 'getKillTime']),
    }
  }
</script>

<style scoped>
   .bet-done-title{
     height:1.8rem;
     background-color: #F1F1F1;
     color: #999999;
     text-align: center;
     line-height: 1.8rem;
     font-size: .9rem;
   }
</style>
