<template>
  <div class="bet-footer">
     <chips v-model="per" :on-number='()=>numberKeyBoard=true'></chips>
     <tips :multiple='multiple' :per='per' :odds='getAverageOdds'></tips>
     <van-row>
       <van-col span='6'>
          <input type="number" class="bet-input bet-number" v-model="per" @focus="focus">
       </van-col>
       <van-col span='7'></van-col>
       <van-col span='6'>
         <div class="bet-input bet-done" @click='betDone' >
              {{betting ? '投注中...':'投注'}}
         </div>
       </van-col>
       <van-col span='1'></van-col>
       <van-col span='3'>
         <div class="bet-input bet-cancal" @click="onCancal">
              取消
         </div>
       </van-col>
     </van-row>

     <van-number-keyboard
       :show="numberKeyBoard"
       @blur="numberKeyBoard = false"
       @input="onInput"
       @delete="onDelete"
       :title="per+''"
       close-button-text="完成"
       extra-key="00"
     />
  </div>
</template>

<script>
  import tips from '../../components/tips.vue'
  import chips from './components/chips.vue'
  import { mapGetters } from 'vuex'
  import { Notify } from 'vant';
  import { doBet }  from '../../api/lottery.js'

  export default {
    name:'bet-footer',
    props:[
      'onCancal'
    ],
    data(){
      return {
         per:0,
         numberKeyBoard:false,
         betting:false
      }
    },
    watch:{
      per:{
        handler(value){
          if(value > 999999999){
              Notify({ type: 'warning', message: '输入超过上限' })
              this.$nextTick(()=>{
                this.per = 999999999
              })
          }else{
            this.$store.commit('setPer',value)
          }
        }
      }
    },
    mounted() {
      if(this.getPer)
        this.per = this.getPer
      else
        this.per = 0
    },
    computed:{
        ...mapGetters(['getSelected', 'getAverageOdds','getPer','getLotteryId','getIssue','getMethodId','getMoney']),
        multiple(){
          if(this.getSelected && Object.prototype.toString.call(this.getSelected) === '[object Array]'){
            return this.getSelected.length
          }else{
            return 0
          }
        }
    },
    methods:{
	   betDone(){
       if(this.betting) return

       if(!this.getSelected || this.getSelected.length === 0){
         Notify({ type: 'warning', message: '请选择下注方式' })
         return
       }

       if(!this.getPer || this.getPer <= 0){
         Notify({ type: 'warning', message: '请输入或选择筹码' })
         return
       }

       let cost = this.getPer * this.getSelected.length

       if(this.getMoney < this.cost){
         Notify({ type: 'danger', message: '余额不足!!!' })
         return
       }else{
         this.$store.commit('setMoney', this.getMoney - cost)
       }

       this.betting = true

       let data = {
         lottery_id : this.getLotteryId,
         issue: this.getIssue,
         method_id : this.getMethodId,
         per_price : this.getPer,
         bet_select : this.getSelected.join('&')
       }

       doBet(data).then(res=>{
         this.betting = false
         Notify({ type: 'success', message: '投注成功' })
       }).catch(err=>{
         this.betting = false
         Notify({ type: 'warning', message: '下注失败' })
         console.error('投注失败',data,err)
         this.$store.commit('setMoney',this.getMoney + cost)
       })


        /* this.$router.push({
          path:'/done'
        }) */
	   },
       focus(e){
          if(!this.per) this.per = ''
          this.numberKeyBoard = true
          e.target.blur()
       },
       onInput(e){
         if(e === '00'){
           this.per *= 100
         }else{
           this.per = this.per * 10 + e
         }
       },
       onDelete(){
          this.per = parseInt(this.per/10)
       }
    },
    components:{
      tips,
      chips
    }
  }
</script>

<style scoped>
  .bet-footer{
    padding-bottom: .2rem;
    position: absolute;
    bottom: 0;
    width:100%;
    padding-bottom: .5rem;
    background-color: white;
  }

  .bet-input{
      height:2rem;
      text-align: center;
      color: white;
      line-height: 2rem;
      border-radius: 10%;
  }

  .bet-cancal{
    background-color: #999999;
  }

  .bet-done{
    background-color: #FF3563;
  }

  .bet-number{
    margin-left: .8rem;
    width:calc(100% - .8rem);
    outline:none;
    border:#000000 1px solid;
    height: 1.6rem;
    margin-top:.2rem;
    color: #000000;
  }
</style>
