<template>
  <div class="bet-header">
    <van-row>
        <van-col span="3">
          <van-image
              round
              width="2.4rem"
              height="2.4rem"
              src="https://img.yzcdn.cn/vant/cat.jpeg"
              style="margin-left:5px;"
            />
        </van-col>
        <van-col span="18">
          <div class='shutdown-time'>本期截至: {{getKill}}</div>
          <!-- <just-kill :lotteryType='0'></just-kill> -->
          <code-box :code='getKillCode' align="left"></code-box>
        </van-col>
        <van-col span="3">
          <van-image
            round
            width="1.8rem"
            height="1.8rem"
            :src="gameurl"
            style="margin-top:.55rem;right:8px;float: right;"
          />
        </van-col>
    </van-row>
  </div>
</template>

<script>
  import codeBox from '../../components/codeBox.vue'
  import { mapGetters } from 'vuex'
  import gamesUrl from '../../assets/img/games.png'

  export default {
      name:'bet-header',
      components:{codeBox},
      data(){
          return {
            gameurl:gamesUrl,
          }
      },
      computed:{
        ...mapGetters(['getKill','getKillCode']),
      }
    }
</script>

<style scoped>
  .bet-header{
    height:2.8rem;
    font-size: 1rem;
  }

  .shutdown-time{
    margin-left:5px;
    font-size:.5rem
  }

  ul{
    padding:0 5%;
    width: 90%;
    display: inline-flex;
    flex-direction:row;
    justify-content: space-between
  }
</style>
