<template>
  <div class="content">
    <bet-header></bet-header>
    <bet-util></bet-util>
    <van-row>
      <van-col span='8'>
        <bet-left></bet-left>
      </van-col>
      <van-col span='16'>
        <bet-right></bet-right>
      </van-col>
    </van-row>
    <bet-footer
        v-if='footerView'
        :on-cancal='()=>footerView=false'
    ></bet-footer>
  </div>
</template>

<script>
  import betHeader from './header'
  import betLeft  from './left'
  import betRight from './right'
  import betUtil from './util.vue'
  import betFooter from './footer.vue'
  import { mapGetters } from 'vuex'

  export default {
      name:'bet',
      data(){
        return {
          footerView:false
        }
      },
      components:{
        betHeader,
        betLeft,
        betRight,
        betUtil,
        betFooter
      },
      computed:{
        ...mapGetters(['getSelected']),
      },
      mounted(){
          let arr = this.getSelected
         if(arr && arr.length>0){
           this.footerView = true
         }else{
           this.footerView = false
         }
      },
      watch:{
        getSelected:{
          handler(arr){
            if(arr && arr.length>0){
              this.footerView = true
            }else{
              this.footerView = false
            }
          }
        }
      }
    }
</script>

<style>
  .content{
    position: relative;
    height:20rem;
  }
</style>
