<template>
  <div class="bet-left">
    <div class="option"
      v-for='item in options'
      :key='item.id'
      v-text='item.name'
      :class='{active:getMethodId===item.id}'
      @click='change(item.id)'
      >
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
      name:'bet-left',
      mounted(){
        if(this.options.length > 0){
          let flag = false
          this.options.forEach(e=>{
             if(e.id == this.getMethodId)
                flag = true
          })

          if(!flag)
            this.change(this.options[0].id)
        }
      },
      watch:{
        getMethodId:{
          handler(value){
              let item = this.getMethods.reduce(function(obj,item,index){
                if(item.id === value){
                  return item
                }else{
                  return obj
                }
              })

              this.$store.commit('setMethodName',item.name)
              this.$store.commit('setGames',item.games)
              this.$store.commit('setSelected',[])
          }
        }
      },
      computed:{
        ...mapGetters(['getMethods','getMethodId']),
        options(){
          if(this.getMethods && Object.prototype.toString.call(this.getMethods) === '[object Array]' ){
              return this.getMethods
          }else{
            return  []
          }
        }
      },
      methods:{
          change(methoId){
            this.$store.commit('setMethodId',methoId)
          }
      }
    }
</script>

<style>
  .bet-left{
    height:15rem;
    background-color:#F5F6F7;
    color: #000000;
  }
  .option{
    heigth:3rem;
    line-height: 3rem;
    text-align: center;
  }

  .active{
      background-color: #FFFFFF;
      color: #FF3563;
  }
</style>
