<template>
  <div class="bet-right">
      <div>
        <div class="title" v-text="getMethodName"></div>
        <games></games>
      </div>
  </div>
</template>

<script>
  import games from './components/games.vue'
  import { mapGetters } from 'vuex'

  export default {
      name:'bet-right',
      components:{
        games
      },
      computed:{
        ...mapGetters(['getMethodName']),
      }
    }
</script>

<style scoped>
  .bet-right{
    height:15rem;
  }
  .title{
    text-align: center;
    height:2.5rem;
    line-height: 2.5rem;
    color: #000000;
  }
</style>
