<template>
  <div class="bet-util">
    <van-row>
      <van-col span='8'>
          <balance></balance>
      </van-col>
      <van-col span='16'>
          <methods></methods>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  import balance from '../../components/balance.vue'
  import methods from './components/methods.vue'
  export default {
    name:'bet-util',
    components:{
      balance,
      methods
    }
  }
</script>

<style scoped>
    .bet-util{
        height:2rem;
        background-color:#F5F6F7;
    }

</style>
