<template>
  <div class="content">
    <div class="notice-header">下注详情</div>
    <div class="notice-content">
        <div>{{item.lotteryName}}</div>
        <div>************************************************</div>
        <div>期号：第{{item.issue}}期</div>
        <div>投注：{{twi}}注</div>
        <div>总金额：￥{{item.cost}}元</div>
        <div>投注内容：</div>
        <div>{{methodName}}：{{options}}</div>
        <div>************************************************</div>
        <div>下注时间：{{item.betTime}}</div>
        <div>结果：{{status}}</div>
    </div>
    <div class="notice-footer" @click='toHistory'>确定</div>
  </div>
</template>

<script>
   import { mapGetters } from 'vuex'
  export default {
    name:'notice-page-history',
    mounted() {
      this.item = this.$route.query
       const { issue , betTime, betSelect , cost , status , lotteryName } = this.$route.query
    },
    data(){
      return {
        item:{}
      }
    },
    methods:{
        toHistory(){
          this.$router.push({
            path:'/data',
            query:{ active: 2 }
          }, )
        }
    },
    computed:{
      ...mapGetters(['getMethods']),
      methodName(){
          let name = ''
          this.getMethods.forEach(method=>{
              if(this.item.methodId == method.id){
                 name = method.name
              }
          })

          return name
      },
      twi(){
        if(this.item && this.item.betSelect){
            return this.item.betSelect.split('&').length
        }else{
          return 0
        }
      },
      options(){
          if(this.item && this.item.betSelect){
              return this.item.betSelect.split('&').join(' ')
          }else{
            return ''
          }
      },
      status(){
        let flag = this.item.status

        if(flag == 2){
           return '未中奖'
        }

        if(flag == 1){
          let prize = Number(this.item.prize)
          return `中奖${prize.toFixed(2)}元`
        }

        return '等待开奖'
      }
    }
  }
</script>

<style scoped>
  .content{
    position: relative;
    height: 20rem;
  }

  .notice-header{
    height: 2.7rem;
    line-height: 2.7rem;
    font-family: 'PingFang SC';
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  .notice-footer{
    height: 2.7rem;
    line-height: 2.7rem;
    font-family: 'PingFang SC';
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #FF3563;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .notice-content{
    height: 14.3rem;
    overflow: scroll;
    padding: 0 1rem;
    font-family: 'PingFang SC';
  }

  .notice-content div{
    font-size: 1.02rem;
    padding: .02rem 0;
  }
</style>
