<template>
    <div class="page" id="app">
      <router-view></router-view>
    </div>
</template>

<script>
  import { getLottery } from './api/lottery.js'
  import { randomCode } from './utils/rondomCode.js'
  import { mapGetters } from 'vuex'

export default {
    name: 'app',
    data(){
      return {
         rColck:undefined,
         lColck:undefined,
         isNew:false
      }
    },
    computed:{
       ...mapGetters(['getLotteryId']),
    },
    watch:{
        getLotteryId:{
          handler(){
              this.$nextTick(()=>{
                this.clearCodeClock()
                if(this.lColck){
                  clearTimeout(this.lColck)
                  this.lColck = undefined
                }
                this.isNew = false
                this.init()
              })
          }
        }
    },
    destroyed() {
       this.clearCodeClock()
       if(this.lColck){
         clearTimeout(this.lColck)
         this.lColck = undefined
       }
    },
    methods:{
        init(){
          getLottery().then(res=>{
            let that = this
            const { data } = res
            const { methods , justCode , issue , name , type , money , countdown }  = data

            if(that.isNew){
               if(countdown < 1){
                  setTimeout(()=>this.init(),1000)
                  return
               }else{
                 that.isNew = false
                 that.clearCodeClock()
               }
            }

            this.$store.commit('setMethodList',methods)
            this.$store.commit('setMoney',money)
            this.$store.commit('setKillCode',justCode)
            this.$store.commit('setLotteryType',type)
            this.$store.commit('setLotteryName',name)
            this.$store.commit('setIssue',issue)
            this.$store.commit('setKillTime',this.getKillTime(countdown,8))

            this.lColck = setTimeout(function(){
                that.createCodeClock()
                setTimeout(function(){
                  that.newIssue()
                },3000)
            },countdown * 1000)
          }).catch(err=>{
            console.error(err)
            console.log('接口请求错误')
          })
        },
        newIssue(){
            this.isNew  = true
            this.init()
        },
        createCodeClock(){
           this.rColck = setInterval(()=> this.$store.commit('setKillCode',randomCode()),200)
        },
        clearCodeClock(){
            if(this.rColck){
              clearInterval(this.rColck)
              this.rColck = undefined
            }
        },
        getKillTime(ctdn,offset){
          if(!ctdn) ctdn = 0
          if(!offset) offset = 0

          // 取本地时间
          var localtime = new Date();
          // 取本地毫秒数
          var localmesc = localtime.getTime();
          // 取本地时区与格林尼治所在时区的偏差毫秒数
          var localOffset = localtime.getTimezoneOffset() * 60000;
          // 反推得到格林尼治时间
          var utc = localOffset + localmesc;
          // 得到指定时区时间 (8区)   ctdn 间隔时间
          var calctime = utc + (3600000 * 8) + ctdn * 1000;

          var nd = new Date(calctime);

          return nd;

        }
    },
    mounted() {
      let  path = window.location.hash

      if(path === '#/405' || path === '#/404'){
          return
      }else{
      // 获取token
        let pw =  window.location.href.split('token=')[1]
        if(pw){
            pw = pw.split('&')[0]
            this.$store.commit('setToken', decodeURI(pw));
        }else{
          if(!this.$store.getters.getToken){
            this.$nextTick(()=>{
              this.$router.push({
                path:'/405'
              })
            })
          }
        }

        pw = window.location.href.split('KindID=')[1]
        if(pw){
          pw = pw.split('&')[0]
          this.$store.commit('setLotteryId',pw)
        }else{
          if(!this.$store.getters.getLotteryId){
            this.$nextTick(()=>{
              this.$router.push({
                path:'/404'
              })
            })
          }
        }

        this.init()
      }
    }
}
</script>

<style lang="less">
    body{
    	width: 100%;
    	height: 100%;
    }
    .page{
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
      }
</style>
