<template>
  <div class="chips">
    <van-row>
      <van-col span='1'></van-col>
      <van-col span='3'>
        <div class="chip" @click="choose(2)">2</div>
      </van-col>
      <van-col span='3'>
        <div class="chip"  @click="choose(5)">5</div>
      </van-col>
      <van-col span='3'>
        <div class="chip" @click="choose(10)">10</div>
      </van-col>
      <van-col span='3'>
        <div class="chip" @click="choose(50)">50</div>
      </van-col>
      <van-col span='3'>
        <div class="chip" @click="choose(100)">100</div>
      </van-col>
      <van-col span='3'>
        <div class="chip" @click="choose(500)">500</div>
      </van-col>
      <van-col span='5'>
        <div class="chip chip-edit" @click="onNumber">编辑筹码</div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  export default {
    name: 'chips',
    props:['onNumber'],
    methods:{
      choose(value){
        this.$emit('input',value)
      }
    }
  }
</script>

<style scoped>
  .chips{
     height: 1.5rem;
  }

  .chip{
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 20%;
    width: 80%;
    margin-left:10%;
    background-color: #F5F6F7;
    font-family: '楷体';
  }

  .chip-edit{
     font-size: .5rem;
  }


</style>
