<template>
    <div class="gameBox">
      <div class="game-scroll">
        <ul>
          <li v-for='item in getGames' :key='item.id' @click='change(item.info)'>
               <gameBall
               :info='item.info'
               :odds='item.odds'
               :class='{on:getSelected.indexOf(item.info)>-1}'>
               </gameBall>
          </li>
        </ul>
      </div>
    </div>
</template>

<script>
  import gameBall from './gameBall.vue'
  import { mapGetters } from 'vuex'

  export default {
     name:'bet-list',
     components:{
       gameBall
     },
     computed:{
        ...mapGetters(['getGames','getSelected'])
     },
     watch:{
       gameList:{
         handler(){
            //todo scrollToTop
         }
       },
       getSelected:{
          handler(arr){
            if(arr && Object.prototype.toString.call(arr) === '[object Array]' && arr.length > 0){
               let total = 0.00
               this.getGames.forEach(item=>{
                   if(arr.indexOf(item.info) > -1){
                       total  += item.odds
                   }
               })

               this.$store.commit('setAverageOdds',total/arr.length)
            }else{
               this.$store.commit('setAverageOdds',0)
            }
          },
          deep:true
       }
     },
     methods:{
       change(id){
         let arr = this.getSelected
         let index = arr.indexOf(id)

         if(index > -1){
           arr.splice(index,1)
         }else{
           arr.push(id)
         }

         this.$store.commit('setSelected',arr.sort())
       }
     }
  }
</script>

<style scoped>
  .gameBox{
      height: 12.5rem;
      overflow-y: scroll;
  }

  .game-scroll{
    padding-bottom: 6rem;
    overflow: hidden;
  }

  .gameBox li{
    width:50%;
    float: left;
    border-radius: 10%;
  }

  .on{
      outline:2px solid #FF3563;
  }
</style>
