<template>
  <div class="gameBall">
    <span class="info">{{info}}</span>
    <span class="odds">{{odds}}</span>
  </div>
</template>

<script>
  export default {
      name:'game-ball',
      props:['info','odds']
  }
</script>

<style scoped>
  .gameBall{
    margin-left: 5%;
    margin-top: .5rem;
    width: 80%;
    height: 2rem;
    background-color: #F5F6F7;
    border-radius: 10%;
    line-height: 2rem;
  }

  .info{
    float: left;
    margin-left: 1rem;
    font-size: 1.2rem;
  }

  .odds{
    float: right;
    margin-right: .8rem;
    color: #FF3563;
    font-size: .8rem;
  }
</style>
