<template>
  <ul class="codeBox">
      <li v-for='(item,index) in codeList' :key='index' class="code" :class="`${lotteryKind}-${item}`"></li>
  </ul>
</template>

<script>
  export default {
    name:'just-kill',
    props:{
      lotteryType:{
         type:Number,
         default:0
      },
      code:{
        type:String,
        default:"2222222222"
      }
    },
    computed:{
      codeList(){
        if(!this.code){
          return []
        }else{
          return this.code.split('')
        }
      },
      lotteryKind(){
        switch(this.lotteryType){
          case 0:
            return 'default'
        }
      }
    }
  }

</script>

<style scoped>
  @import url("../../../assets/css/ball.css");

  .codeBox{
    padding: 0;
    width:100%;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .code{
    list-style: none;
    padding:0;
    margin:0;
  }
</style>
