<template>
  <div class="methods">
    <div class="info" @click="toData(0)">玩法介绍</div>
    <div class="record" @click="toData(1)">开奖记录</div>
    <div class="my-bet" @click="toData(2)">我的投注</div>
    <div class="recharge">充值</div>
  </div>
</template>

<script>
  export default {
    name:'data-methods',
    methods:{
      toData(number){
         this.$router.push({
           path:'/data',
           query:{ active: number }
         }, )
      }
    }
  }
</script>

<style scoped>
    .methods{
        height:2rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: left;
    }
    .methods>div{
      width:55px;
      margin-right: 5px;
      text-align: center;
      height:2rem;
      line-height: 2rem;
      font-size: .6rem;
      color: white;
      font-weight: 500;
      border-radius: 10%;
    }

    .info{
      background-color: #3095E9;
    }

    .record{
      background-color: #FB9128;
    }
    .my-bet{
      background-color: #EE622E;
    }
    .recharge{
      background-color: #37CF6A;
    }
</style>
